@using Parcial1_AP1_OrlandoLora.Models
@using Parcial1_AP1_OrlandoLora.Services
@using System.Diagnostics.Metrics
@rendermode InteractiveServer

<PageTitle>Crear Nueva Meta</PageTitle>
<EditForm Model="aporte" OnValidSubmit="Crear">
	<DataAnnotationsValidator />
	<div class="container">
		<div class="card shadow-lg">
			@*Header*@
			<div class="card-header">
				<h3><strong>Crear Nueva Meta</strong></h3>
			</div>
			@*Body*@
			<div class="card-body">
				@*AporteId*@
				<div class="mb-3">
					<div class="col-4">
						<label class="form-label" for="metaid"><strong>Meta Id:</strong></label>
						<InputNumber id="metaid" class="form-control" @bind-Value="meta.MetaId"></InputNumber>
					</div>
				</div>
				@*Fecha*@
				<div class="mb-3">
					<div class="col-4">
						<label class="form-label" for="fecha"><strong>Fecha:</strong></label>
						<InputDate id="fecha" class="form-control" @bind-Value="aporte.Fecha"></InputDate>
						<ValidationMessage For="@(() => meta.Fecha)"></ValidationMessage>
					</div>
				</div>
				@*Persona*@
				<div class="mb-3">
					<div class="col-4">
						<label class="form-label" for="persona"><strong>Persona:</strong></label>
						<InputText id="persona" class="form-control" @bind-Value="meta.Persona" placeholder="Escriba su nombre"></InputText>
						<ValidationMessage For="@(() => aporte.Persona)"></ValidationMessage>
					</div>
				</div>
				@*Observación*@
				<div class="mb-3">
					<div class="col-4">
						<label class="form-label" for="observacion"><strong>Observaci&oacute;n:</strong></label>
						<InputTextArea id="observacion" class="form-control" @bind-Value="meta.Observacion" placeholder="Escriba una observación"></InputTextArea>
						<ValidationMessage For="@(() => aporte.Observacion)"></ValidationMessage>
					</div>
				</div>
				@*Monto*@
				<div class="mb-3">
					<div class="col-4">
						<label class="form-label" for="monto"><strong>Monto:</strong></label>
						<InputNumber id="monto" class="form-control" @bind-Value="meta.Monto"></InputNumber>
						<ValidationMessage For="@(() => meta.Monto)"></ValidationMessage>
					</div>
				</div>
			</div>
			@*Footer*@
			<div class="card-footer d-flex justify-content-center">
				<div class="px-2">
					<button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
				</div>
				<button type="submit" class="btn btn-outline-success"><i class="bi bi-floppy-fill" /> Crear</button>
			</div>
		</div>
	</div>
	@mensaje
</EditForm>

@code {
	public Metas meta { get; set; } = new Metas();
	public string mensaje { get; set; }

	public async Task Crear()
	{
		var crear = await metasService.Crear(meta);
		if (crear)
		{
			mensaje = "La Meta se creó con éxito";
			await Task.Delay(2000);
			LimpiarPantalla();
		}
		else
			mensaje = "La Meta no se ha podido crear correctamente";
	}

	public void LimpiarPantalla()
	{
		aporte = new Metas();
		mensaje = string.Empty;
	}

	public void Volver()
	{
		navigation.NavigateTo("/Metas");
	}
}

